{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{title}}</h2>

    {% for listing in listings %}
        <li>
            <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
            <div>
                {{ listing.description }}
            </div>

            <img src="{{ listing.image }}" alt="">
            
            <div>
                {% if not listing.bids.all %}
                    <p>Price : {{ listing.baseprice }} $</p>    
                {% else %}
                    <p>Price : {{ listing.bids.first.value }} $</p> 
                {% endif %}
            </div>
            
        </li>
    {% endfor %}
{% endblock %}