{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

    <style>
        .next{
            position:relative;
            left: 15px;
            /*bottom: 180px;*/
        }
        .containers {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
    <div class="containers">
        <h2>{{ listing.title }}</h2>
        {% if user.is_authenticated %}
        <form style="top: 4px;" class="next" id="watchlist" action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            {% if listing in watchlist %}
                    <input type="submit" name="Removing" value="Remove from WatchList"/>
                </form>
            {% else %}
                    <input type="submit" name="Adding" value="Add to WatchList"/>
                </form>
            {% endif %}
        {% endif %}
    </div>
    
    <div class="containers">
        {% if listing.image %}
            <img style="width: 240px; height: 180px;" src="{{ listing.image }}" alt=""> 
        {% else %}
            <img style="width: 160px; height: 180px;" src="{% static 'images/noimages.jpg' %}" alt=""> 
        {% endif %}
        <div class="next">
            <p>Category : {{ listing.category.title }}</p>
            <p>Description : {{ listing.description }}</p>
            
    
            {% if not listing.bids.all %}
                <p style="font-weight: 700;">Current Price : {{ listing.baseprice }} $</p>
            {% else %}
                <p style="font-weight: 700;">Current Price : {{ listing.bids.first.value }} $</p>
                <h4>Bids history</h4>
                {% for bid in listing.bids.all %}
                    {{ bid.proposer }} offered {{ bid.value }}$ <br>
                {% endfor %}
                <p>Base Price : {{ listing.baseprice }} $</p>
                <br>
            {% endif %}
        </div>
    </div>

    {% if listing.isactive == True %}
        {% if user.is_authenticated %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% if not listing.bids.all %}
                        <input autofocus class="form-control" style="width: 200px;" min="{{ listing.baseprice }}" type="number" step="0.01" name="Bid" placeholder="Bid">
                    {% else %}
                        <input autofocus class="form-control" style="width: 200px;" min="{{ listing.bids.first.value }}" type="number" step="0.01" name="Bid" placeholder="Bid">
                    {% endif %}
                </div>
                <input type="submit" value="Bid on this Auction"/>
            </form>
        {% endif %}
    {% else %}
        <h4>This auction is not Active</h4>
    {% endif %}
    <h3>{{ message }}</h3>

    
    {% if user.is_authenticated %}
        {% if listing.createdby == request.user and listing.isactive == True %}
            <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
                <input type="submit" name="Closing" value="Close the auction" />
            </form>
        {% else %}
        {% endif %}
        <br>
        <h3>Add a Comment</h3>
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <textarea rows="4" cols="50" name="Commenting"></textarea>
            <br>
            <input type="submit" value="Add a New Comment"/>
        </form>
    {% else %}

    {% endif %}
    <br>
    <h4>Comments : </h4>
    {% for comment in listing.comments.all %}
        <p>{{comment.writer}} on {{comment.date}} : {{comment.content}}</p>
    {% empty %}
        <p>No Comments yet</p>
    {% endfor %}
{% endblock %}